.transaction_history{
    margin-top: 30px;
    width:768px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    border-spacing: 0;
  
}
.transaction_history, td, th{
    border: 0.5px solid rgba(129, 130, 130, 0.11);
    /* border-collapse: collapse; */
}
th, td{
    padding:10px;
}
.header{
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    background-color: rgb(25, 110, 118);
    color: #fff;
}

.row{
    /* padding-top: 15px;
    padding-bottom: 15px; */
    color: rgb(96, 95, 95)

}
.row:nth-child(even) {
    background-color: #eee;
  }
.row:nth-child(odd) {
    background-color: #fff;
}
.type{
    text-transform: capitalize;
}